[submodule "rserver/framework/Darwinism"]
	path = rserver/framework/Darwinism
	url = https://github.com/xieguigang/Darwinism.git
[submodule "rserver/framework/sciBASIC#"]
	path = "rserver/framework/sciBASIC#"
	url = https://github.com/xieguigang/sciBASIC.git
[submodule "rserver/framework/httpd"]
	path = rserver/framework/httpd
	url = https://github.com/biocad-cloud/SMRUCC.WebCloud.git
